
<h2>ASK ME ANYTHING</h2>

<form action="/answer" method="get" class="input">
  <input type="text" name="ask" placeholder="ask a question" class="search">
  <input type="submit" class="button" placeholder="search" a>
</form>
